<pre class="adl-text">
{{{asciiart}}}
</pre>
{{#subtitle}}
	<div>{{text}}</div>
{{/subtitle}}
{{#paragraphs}}
	<p class="typetarget">{{paragraph}}</p>
{{/paragraphs}}
<br />
{{#button}}
	<a href="{{link}}" class="button">{{text}}</a>
{{/button}}
