<pre class="rightimage">
              /--------------------------\
   **      ** | ~~~~~~~~~~ |          [#]|
 **  **  **  *| ~~~~~~~~~~ |             |
*      **     | ~~~~~~~~~~ |  ---------  |
              |            |  ---------  |
   **      ** |            |  ---------  |
 **  **  **  *| ~~~        |  ---------  |
*      **     |            |             |
              \--------------------------/
</pre>
<div class="textcontent">
	<ul>
		{{#contacts}}
			<li><a href="{{link}}" target="_blank" class="typetarget">{{name}}</a></li>
		{{/contacts}}
	</ul>
</div>
