<!DOCTYPE html>
<html>
	<head>
		<title>ZheNing Hu - {{title}}</title>
		<meta charset="UTF-8">
		<link rel="icon" href="/resources/favicon.ico" />
		<link rel="stylesheet" href="/css/style.css" />
		<script src="/js/script.js" defer></script>
		{{{additionalHeadMaterial}}}
	</head>
	<body>
		<div id="outerwrapper">
			<header>
				<ul class="horizontallist">
					{{#pages}}
					<a href="{{link}}"><li class="button{{#selected}} selected{{/selected}}">{{name}}</li></a>
					{{/pages}}
					<a href="/resources/resume.pdf" target="_blank"><li class="button">R&eacute;sum&eacute;</li></a>
				</ul>
			</header>
			<div id="content">
{{> headfootPart}}
			</div>
			<div id="footerspacer"></div></div>
		<footer>
			<ul class="horizontallist">
				<li><a href="https://github.com/adlternative/" target="_blank"><img src="/images/github.png" alt="Github Profile" height=32 /></a></li>
				<li><a href="https://www.linkedin.com/in/zhening-hu-10a0b1202/" target="_blank"><img src="/images/linkedin.png" alt="LinkedIn Profile" height=32 /></a></li>
			</ul>
			<div id="copyright">&copy; ZheNing Hu, 2022</div>
		</footer>
	</body>
</html>
